POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

DATABASE_URL=

HTTP_PORT=

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# S3/R2
R2_ENDPOINT=
BUCKET_NAME=
TOKEN_VALUE=
ACCESSKEYID=
SECRETACCESSKEY=
PUBLIC_ENDPOINT=

#REDIS
REDIS_URL=

#GEMINI
GEMINI_API_KEY=
